h1 {
    color: black;
}

main {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: calc(100vh - 74px);
}

#alerta {
    padding: 10px;
    position: absolute;
    border-radius: 4px;
    margin: 10px;

    z-index: 3;

}

.mostrarAlerta {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        right: -10%;
    }
    to {
        opacity: 1;
        right: 0;
    }
}

.quitarAlerta {
    animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        right: 0;
    }
    to {
        opacity: 0;
        right: 0;
        display: none;
    }
}

#alerta p {

    margin: 0;

}

.userAvatar {
    width: 35px;
    height: 35px;

    margin-left: .4rem;
    object-fit: cover;

    transition: all 0.3s linear;
}

li.nav-item > a:hover .userAvatar {
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, .3);
}

#imagenAvatarMuestra img {

    width: 175px;
    height: 175px;

    object-fit: cover;

}

.columnaOpciones {
    min-height: calc(100vh - 74px);
    padding: 0;
    margin: 0;

    background-color: #222;
}

.list-group {
    border-radius: 0 !important;
}

.list-group a {
    color: white;
    background-color: #222;

    transition: all .3s;

}

.tarjeta-contraseña {

    border-bottom: 1px solid rgba(0, 0, 0, .3);

}

#contraseñas {
    height: 83vh;
    overflow: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#contraseñas::-webkit-scrollbar {
    display: none;
}

#homeContainer {
    background-color: white;
    padding: 20px;

    border-radius: 4px;

    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, .5);
}

.defaultBg {
    background-color: white;
    background-image: none;
}

.passwords {
    text-align: center;
}

.passwords article {

    margin: 1rem;

    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, .5);

    transition: all 0.2s linear;

}

.passwords article:hover {

    box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, .5);

}

.actualizaProOpcion {
    background-color: #e99700 !important;
}

#borrarBoton {
    border-radius: 0;
    margin-left: -1px;
}

#addPassword {
    position: relative;
    width: 35px;
    height: 35px;

    background-color: dodgerblue;

    color: white;

    transition: all 0.2s linear;
}

#addPassword:hover {

    background-color: #197ad9;

}

#addPassword svg {
    width: 20px;
    height: 20px;

    margin-left: -0.3rem;
    margin-bottom: 0.3rem;
}

#addPassword {
    position: relative;
}

.modal-body {

        font-size: 17px;

}

.modal-body-web {

    font-weight: bold;

}

#cardType {

    display: flex;
    flex-wrap: wrap;

    align-items: center;

    font-size: 2rem;

}

@media (max-width: 768px) {

    input {
        margin-bottom: 1rem;
    }

    .passwords {
        margin: 15px;
    }

    #addPassword {

        position: fixed;
        bottom: 0;
        right: 0;

        margin: 1rem;

        width: 55px;
        height: 55px;

    }

    #addPassword svg {
        width: 30px;
        height: 30px;

        margin-left: 0rem;
        margin-bottom: -1rem;
    }

    .columnaOpciones {
        min-height: auto;
    }

    #cardType {

        width: 100%;

        justify-content: center;

    }
}

@media (max-width: 368px) {

    input {
        width: 100%;
    }

    #alerta {

        width: 100%;
        margin: 1rem 0 0 0;
        border-radius: 0;
    }

}
