body {

    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
}

.card {
    border: none !important;
    border-radius: 20px;
    flex-direction: row;

    box-shadow: 0px 5px 10px rgb(0 0 0 / 40%);

}

.card .image-container {
    display: flex;

    align-items: center;
    justify-content: center;

    padding: 0 10px;

    border-radius: 20px 0 0 20px;

    background-size: 250% 250% !important;
    background: linear-gradient(to right bottom, #6a3093, #a044ff);

    animation: bgAnimation 5s linear infinite;
}

.card .form-container {
    padding: 20px;

    margin: auto;
}

.card .form-container input {
    border-radius: 0;

    margin-bottom: .7rem;
}

.card .form-container .form-container-header {
    text-align: center;

    font-size: 23px;

    font-weight: bold;

    border-bottom: 1px solid gray;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.headerTitle {
    font-size: 25px;

    background: rgb(95,44,130);
    background: -moz-linear-gradient(141deg, rgba(95,44,130,1) 0%, rgba(73,160,157,1) 100%);
    background: -webkit-linear-gradient(141deg, rgba(95,44,130,1) 0%, rgba(73,160,157,1) 100%);
    background: linear-gradient(141deg, rgba(95,44,130,1) 0%, rgba(73,160,157,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5f2c82",endColorstr="#49a09d",GradientType=1);
}

.btn-black {
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
}

.btn-black:hover {
    color: white;
    background-color: black;
}

@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 576px) {

    #main {
        position: relative;
        transform: translate(0, 0);
        top: 0;
        left: 0;
    }

    .card {

        width: 85%;

        flex-direction: column-reverse;

        margin-top: 2rem;

    }

    .card .image-container {
        border-radius: 0 0 20px 20px;

    }
}
